 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
    <style>
        .login {
            width: 500px;
            margin: 300px auto auto auto;
        }
        .title{
            margin: 0px 0px 0px 150px;
        }
        .id{
            margin: 20px 0px 0px 160px;
        }
        .pw{
            margin: 20px 0px 0px 160px;
        }
        .button{
            margin: 20px 0px 0px 160px;
        }
    </style>
</head>
<body>
    <form method="POST" id="authForm">
  <div class="login">
      <h3> Register </h3>
      <p>
          <label for="regi_id">ID&nbsp&nbsp&nbsp</label>
          <input type="text " id="regi_id" name="regi_id" >
      </p>
 
      <p>
          <label for="regi_pw">PW</label>
          <input type="password" id="regi_pw" name="regi_pw">
      </p>
      <input type="submit" name="submit" value="submit" style="WIDTH: 183pt"/>
 
    </div>
</form>
 
</body>
</html>
